.login-container,.newUser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    max-width: 400px;
    margin: 0 auto;
    direction: rtl;
}

.input-field,.newUserInput {
    width: 100%;
    padding: 12px;
    border: 2px solid teal;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.input-field:focus,.newUserInput:focus {
    border-color: teal;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.3);
}

.login-button,.newUserButton {
    background: linear-gradient(135deg,rgb(9, 138, 138) 0%,rgb(82, 205, 205) 100%);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
    height: auto;
}

.login-button:hover,.newUserButton:hover {
    transform: scale(1.05);
}

*{
    margin: 5px;
    font-size: medium;
    font-family: cursive;
    align-items: center;
    text-align: center;
    }
    
    table{
          width: 95%; 
    }

    